{% extends "blog/base.html" %}
{% block content %}
    <h1>About Me</h1>
    <div class="outer">
        <p>Please feel free to contribe to this project</p>
        <p class="contact">You can reach me at
            <span class="email">vishalmaurya958@gmail.com</span></p>
        <p>My Github Profile
            <a href='https://github.com/vishal958'>
                <span class="email">https://github.com/vishal958</span></p>
        </a>
        <p>CodeBase for this project:
            <a href='https://github.com/vishal958/my_project' target="_blank">
                <span class="email">Click here</span></p>
        </a>
        <p class="about-us">Vishal M.<br>
            Happy Blogging</p>
    </div>

{% endblock content %}